 {% extends "base.html" %}
 {% block body %}
 <div class="form-container">
        <p>Вы можете отправить нам телеграмму с помощью нашей <a href='https://forms.gle/WcSFqj37Q8tfewy37'>гугл-формы</a>. <br>Также, если вы хотите, вы можете стать нашим волонтёром, отправив нам ваши данные с помощью формы ниже.</p>
        <form action="/">
          <fieldset>
            <legend>Стать волонтёром</legend>
            <label for="name">Ваше имя и фамилия</label><br>
            <input type="text" id="name" name="fname" value=""><br>
            <label for="mail">Электронная почта</label><br>
            <input type="text" id="mail" name="lname" value=""><br><br>
            <input type="submit" value="Отправить">
          </fieldset>
        </form>
 </div>
 {% endblock %}