<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vendor/js/jquery-3.3.1.slim.min.js" defer></script>
    <script src="vendor/js/popper.min.js" async></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="vendor/js/bootstrap.min.js" defer></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('index') }}">Печатаю тебе</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('telegrams') }}">Телеграммы<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('add') }}">Добавить телеграмму</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('longread') }}">Читать текст исследования</a>
            </li>
        </div>
      </nav>
      <div class = "longread">
        <br><br><br>
        <h1 style = "text-align: center;">Наше исследование</h1>
        <p style = "text-align: left; margin-left: 50px; margin-right: 50px;">Мы провели исследование по оцифровке и анализу русскоязычных телеграмм методами компьютерной лингвистики и Digital Humanities. 
          Для ресёрча мы взяли телеграммы из <a href = "https://opendata.mkrf.ru/opendata" target="_blank">Портала открытых данных Министерства культуры РФ</a>, а также из семейных  архивов, музеев, форумов коллекционеров и даже блошиного рынка.
        </p>
        <hr>
        <br>
        <p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Мы выяснили, что с течением времени круг тем телеграмм сужался по мере развития альтернативных средств коммуникации, 
          как мы и предполагали изначально. Для этого мы применили несколько метрик: <br></p>
        <div class ="longread-leftbox"><p style = "text-align: left; float: left;">
        <img src= "images/longread1.png" style = "width: 800px; height: 400px; float: right; display: block;">Для начала мы просто измерили количество различных тем, которые обсуждались в 
        телеграммах каждого отдельного десятилетия..</img></p></div>
        <div class ="longread-rightbox"><p style = "text-align: right; float: right;">
          <img src= "images/longread2.png" style = "width: 800px; height: 400px; float: left; display: block;">...а затем применили меру энтропии Шеннона, суть которой заключается в том, 
          чтобы измерить разнообразие выборки (в нашем случае, разнообразие её тем), вне зависимости от её размера.</img></p></div>
        <div class ="longread-leftbox"><p style = "text-align: left; float: left;">
          <img src= "images/longread3.png" style = "width: 800px; height: 400px; float: right; display: block;">Более того, если разделить темы по общему смыслу на пять категорий (макро-тем), можно заметить, 
          что с течением времени люди перестали делиться новостями с помощью телеграмм.</img></p></div>

        <p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Таким образом, мы постепенно перешли к тому, что телеграммы стали использоваться только 
          для поздравлений с какими-нибудь личными достижениями или семейными праздниками.
        </p><br><hr><br>
        <p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Однако наше другое предположение о том, что когда случалось какое-либо историческое событие, телеграммы отправлялись чаще, не оправдалось. 
        </p>
        <img src= "images/longread4.png" style = "width: 800px; height: 400px; display: block; margin-left: auto; margin-right: auto;"><br>
        <p style = "text-align: left; margin-left: 75px; margin-right: 75px;">В качестве ключевых исторических моментов мы выбрали даты Октябрьской революции (1917), Великой Отечественной войны (1941-1945), 
          полёта Гагарина в космос (1961) и распад Советского Союза (1991); однако мы не выявили какой-либо корреляции реальных исторических прецедентов с частотностью отправки телеграмм.
        </p><hr>
        <p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Также мы исследовали упоминаемость известных личностей и их круг взаимодействия в телеграммах, так как предполагали, 
          что имена общественных и политических деятелей могут упоминаться как в официальной, так и в личной переписке, и нередко это может быть связано со смертью деятеля.</p>
        <div class ="longread-leftbox"><p style = "text-align: left; float: left;">
          <img src= "images/longread5.png" style = "width: 800px; height: 400px; float: right; display: block;">Так, например, мы сделали сетевой анализ взаимодействий и упоминаний Иосифа Виссарионовича Сталина в период с 1919 по 
          1950 год по мере того, как нарастал градус политических репрессий и увеличивался список “врагов народа”.<br><br>

          Из этого анализа мы выяснили, что имена Сталина и Ленина часто упоминаются вместе как синонимы или даже как символы советской власти в целом. Например, когда человека поздравляют с 
          получением награды, ему желают трудиться дальше и продолжать дело “великих Ленина и Сталина”.</img></p></div>
        <div class ="longread-leftbox"><img src= "images/longread6.png" style = "width: 800px; height: 400px; float: right;"></div></img></div>
        <div class ="longread-rightbox"><img src = "images/legend-circle1.png" width="40px" height= "40px">Персоналии и другие</img>
        <div class ="longread-rightbox"><img src = "images/legend-circle2.png" width="40px" height= "40px">Организации и коллективы</img>
        <div class ="longread-rightbox"><img src = "images/legend-circle3.png" width="40px" height= "40px">Упоминаемые персоналии</img>
        <div class ="longread-leftbox"><p style = "text-align: left; float: left;">
          <img src= "images/longread7.png" style = "width: 800px; height: 400px; float: right; display: block;">Также среди телеграмм, отправленных в 1946 году, есть и телеграмма от 
          Центрального вече народной молодёжи Югославии с выражением соболезнований по поводу смерти Калинина. Как известно из истории, отношения между СССР и 
          Югославией сильно ухудшились в 1948 году из-за разногласий Сталина и лидера коммунистической партии Югославии Иосипа Броз Тито, поэтому представить 
          подобную телеграмму всего на пару лет позже было бы трудно.</img></p></div>
        <div class = "longread-leftbox"><p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Помимо этого, при исследовании датасета мы обнаружили несколько других занятных вещей.</p></div>
        <div class = "longread-leftbox"><img src= "images/longread8.png" style = "width: 50%; height: auto; display: block; float: right;">В частности, мы узнали, что, несмотря на официальную реформу 
          грамматики в 1917 году, в личной переписке дореволюционной орфографией продолжали пользоваться до тридцатых годов двадцатого века.</img></div>
        <div class = "longread-leftbox"><p style = "text-align: left; margin-left: 75px; margin-right: 75px;">Остальные результаты нашего исследования можно найти на нашем Гитхабе, 
          а полный текст исследования можно прочитать по ссылке ниже. </p></div>
        <div style="clear:both"></div>
        <a class="btn btn-primary btn-lg" id="btn-center" href="#" role="button"><u>Читать полностью</u></a>


      </div>
      <footer>© Печатаю тебе 2022</footer>

 
</body>
</html>