{% extends "base.html" %}
{% block title %}
Печатаю тебе | Спасибо вам!
{% endblock %}
{% block body %}
<div class="container" style="margin-top: 100px;">
    <h1 style="text-align: center">Спасибо!</h1>
    <p style="text-align: center;">Благодарим вас за то, что поддерживаете наш проект!</p>
    <button class="btn btn-primary btn-lg" type="submit" style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: 1%; display: block;">Вернуться на главную</button>
</div>
{% endblock %}
