* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v111_4 {
  width: 100%;
  height: 1700px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v119_15 {
  width: 100%;
  height: 149px;
  background: rgba(88,107,183,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v260_18 {
  width: 529px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 1398px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v260_19 {
  width: 103px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 572px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v260_20 {
  width: 211px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 1144px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v260_21 {
  width: 372px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 60px;
  left: 727px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v260_22 {
  width: 374px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 51px;
  left: 43px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: PT Serif;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v131_134 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 209px;
  left: 97px;
  font-family: Vollkorn;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v136_144 {
  width: 310px;
  height: 117px;
  background: rgba(88,107,183,1);
  opacity: 1;
  position: absolute;
  top: 1404px;
  left: 803px;
  overflow: hidden;
}
.v136_145 {
  width: 262px;
  color: rgba(254,254,254,1);
  position: absolute;
  top: 1423px;
  left: 829px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v145_30 {
  width: 100%;
  height: 650px;
  background: url("../images/v145_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 628px;
  left: 296px;
  overflow: hidden;
}
.v145_31 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 328px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v145_32 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1301px;
  left: 160px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v210_293 {
  width: 430px;
  height: 103px;
  background: rgba(174,152,134,1);
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 725px;
  overflow: hidden;
}
.v210_294 {
  width: 382px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 508px;
  left: 746px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v212_8 {
  width: 100%;
  height: 90px;
  background: rgba(174,152,134,1);
  opacity: 1;
  position: absolute;
  top: 1610px;
  left: 1px;
  overflow: hidden;
}
.v212_9 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1637px;
  left: 218px;
  font-family: Noto Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
